@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {



  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {

  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px dotted red;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

.frame img {
height: 10%;
text-align: center;
}
footer {
  display: block;
  text-align: left;
  padding: 1px 28px;           
  margin-top: 1px;

  font-size: small;
  font-weight: normal;
  color: blue;
  border-top: 1px solid blue;
  line-height: normal;
}